/* 1060px  */
@media (max-width:66.25em) {
    /* .primary-heading {
        font-size:10rem ;
    }
    .nav-link {
        font-size: 3rem;
    } */
    html {
        font-size:54% ;
    }
}
/* 920px  */
@media (max-width:66.25em) {
    html {
        font-size:45% ;
    }
    .image-gallery {
        grid-template-areas:
        'img-1 img-1 img-2 img-2'
        'img-1 img-1 img-3 img-3'
        'img-4 img-4 img-5 img-5'
        'img-6 img-7 img-7 img-7'
        'img-8 img-8 img-8 img-8'
    }
    .image-gallery a {
        height: 20rem;
    }
    .img-1 {
        min-height: 41.5rem;
    }
    .img-6 {
        min-height: 20rem;
    }

}
/* 760px  */
@media (max-width:47.5em) {
    html {
        font-size:30% ;
    }
}
/* 600px  */
@media (max-width:37.5em){
    .image-gallery {
        grid-template-areas:
        'img-1 img-1 img-1 img-1'
        'img-2 img-2 img-2 img-2'
        'img-3 img-3 img-3 img-3'
        'img-4 img-4 img-4 img-4'
        'img-5 img-5 img-5 img-5'
        'img-6 img-6 img-6 img-6'
        'img-7 img-7 img-7 img-7'
        'img-8 img-8 img-8 img-8'
    }
    .image-gallery a,
    .img-1 .img-6 {
        min-height: 30rem;
        height: 50rem;
    }
   
   
}
/* 400px  */
@media (max-width:25em){
    html {
        font-size:22% ;
    }
    .footer-icons {
        margin: 1.5rem  5rem;
        width: 13%;
    }
    #footer-icon {
        
        font-size: 5.5rem;
      }
      .footer-txt {
        font-size:3rem;
      }
}